@model LookingThings.Models.Observacoes

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletando observação n°: @Html.DisplayTextFor(model=>model.ObservacoesId)</h1>

<h3>Você tem certeza que deseja excluir isso?</h3>
<div>

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObservacoesDescricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObservacoesDescricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObservacoesData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObservacoesData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.UsuarioId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Objeto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Objeto.ObjetoId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ObservacoesId" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
