@model LookingThings.Models.Objeto

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes do : @Html.DisplayTextFor(model => model.ObjetoNome)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObjetoNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObjetoNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObjetoCor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObjetoCor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObjetoObservacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObjetoObservacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObjetoLocalDesaparecimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObjetoLocalDesaparecimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObjetoFoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObjetoFoto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObjetoDtDesaparecimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObjetoDtDesaparecimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObjetoDtEncontro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObjetoDtEncontro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObjetoStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObjetoStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.UsuarioNome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ObjetoId">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
