@model IEnumerable<LookingThings.Models.Usuario>

@{
    ViewData["Title"] = "Usuários";
}

<h1>Usuários</h1>

<p class="create-button-section">
    <a class="create-button" asp-action="Create">Cadastrar Usuário</a>
</p>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.UsuarioNome)</th>
                <th>@Html.DisplayNameFor(model => model.UsuarioEmail)</th>
                <th>@Html.DisplayNameFor(model => model.UsuarioTelefone)</th>
                <th>@Html.DisplayNameFor(model => model.UsuarioSenha)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.UsuarioNome)</td>
                    <td>@Html.DisplayFor(modelItem => item.UsuarioEmail)</td>
                    <td>@Html.DisplayFor(modelItem => item.UsuarioTelefone)</td>
                    <td>@Html.DisplayFor(modelItem => item.UsuarioSenha)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.UsuarioId" class="edit-btn">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.UsuarioId" class="details-btn">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.UsuarioId" class="delete-btn"><i class="fas fa-trash icon-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

